body {
    background-image: url(imagens/fundo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
p {
    text-align: left;
    color: black;
}
h1 {
    color: blueviolet;
}
h2 {
    color: gold;
}